{% extends "base.html" %}

{% block content %}
<h1> Задачи </h1>
{% if news %}
    {% for item in news %}
    <div class="col-md6 border rounded">
        <h2>{{ item.title }}</h2>
        <div>
            {{ item.content }}
        </div>
        <div>
            Номер задачи - {{ item.id }}, Дата написания - {{ item.created_date }}
        </div>
    </div>
{% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
    </div>
{% endif %}
    {% endfor %}
{% endif %}
{% endblock %}
