{% extends 'base.html' %}

{% block content %}
<h1>Токен для бота</h1>
<h5 style="padding-top: 20px">Ваш токен: {{ current_user.bot_id }}</h5>
<h6 style="padding-top: 20px">Вам требуеться вставить в диалоги с ботом ваш токен используя команду /linking_to_a_bot 'Ваш токен'</h6>
<a href="https://t.me/timkarazvod_bot" class="btn btn-secondary" style="position: relative; top: 20px">Ссылка на бота</a>
<a href="/profile" class="btn btn-secondary" style="position: relative; top: 20px">Вернуться обратно в профиль</a>
{% endblock %}